{% extends 'base.html' %}
{% block content %}
{% for article in articles %}
    <h1><a href="{% url 'NewApp:article' article.id %}"><strong>{{ article.title }}</strong></a> par {{ article.author }}</h1>
    <p>{{ article.body }}</p>
{% endfor %}
<p><a href=" {% url 'NewApp:addComment' %}">Commenter</a></p>
<p>Ajouter un Article</p>
<form action="{% url 'NewApp:add' %}" method="post">
    {% csrf_token %}
    <p>Title: <input type="text" name="title" value=""/></p>
    <p>Author: <input type="text" name="author" value=""/></p>
    <p>Body: <input type="text" name="body" value=""/></p>
    <input type="submit" value="Submit" />
</form>
{% endblock %}