{% extends 'base.html' %}
{% block content %}
<div>
    <h1>{{ article.title }}</h1>
    <p>{{ article.body }}</p>
</div>
<p></p>
{% for comment in comments %}
    <p>{{ comment.date }}  {{ comment.body }}</p>
{% endfor %}
<p></p>
<form action="{% url 'NewApp:addComment' article.id %}" method="post">
    {% csrf_token %}
    <p>Body: <input type="text" name="body" value=""/></p>
    <input type="submit" value="Submit" />
</form>
<a href="{% url 'NewApp:index' %}">Retour</a>
{% endblock %}