{% extends 'base.html' %}
{% block content %}
{% for product in products %}
    <h1>Product: {{ product.Name }}</h1>
    <p>Price: {{ product.price }}</p>
    <p>Old price: {{ product.old_price }}</p>
{% endfor %}
<form action="{% url 'FormApp:product_add' %}" method="post">
    {% csrf_token %}
    <p><input type="text" name="Name" value="" /></p>
    <p><input type="number" name="prix" value="" /></p>
    <input type="submit" value="Submit" />
</form>

{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number}}">Previous --</a>
        {% endif %}
        Page {{  page_obj.number }}
        {% if page_obj.has_next %}
            --<a href="?page={{ page_obj.next_page_number}}">Next</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}